<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <form (ngSubmit)="onFormSubmitted()" [formGroup]="reactiveForm" class="border p-4 rounded bg-light"
    style="width: 400px;height: 400px;">
    <h2 class="text-center">SignUp</h2>
    <div class="mb-3" style="margin-top: 50px;">
      <input type="text" class="form-control" formControlName="username" style="width: 100%;" placeholder="Username">
      <div class="text-center">
        <small *ngIf=" reactiveForm.get('username')?.touched && reactiveForm.get('username')?.invalid">*username is
          required</small>
      </div>
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" formControlName="email" style="width: 100%;" placeholder="Email">
      <div class="text-center">
        <small *ngIf=" reactiveForm.get('email')?.touched && reactiveForm.get('email')?.invalid">*email is
          required</small>
      </div>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" formControlName="password" style="width: 100%;"
        placeholder="password">
      <div class="text-center">
        <small *ngIf=" reactiveForm.get('password')?.touched && reactiveForm.get('password')?.invalid">*password is
          required</small>
      </div>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-success" type="submit" [disabled]="!reactiveForm.valid">Sign
        Up</button>
      <button class="btn btn-danger" type="submit" routerLink="/userlogin">Login
      </button>
    </div>
  </form>
</div>