<app-navbar></app-navbar>

<div class="container  d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="card mt-5 me-5  cards" style="width: 280px; " *ngFor="let product of beds">
      <a [routerLink]="'/productview/'+(product.productid)"><img class="card-img-top w-100px image-products"
          [src]="product.productimage"></a>
      <div class="card-body">
        <h5 style="text-decoration: none;">{{product.productname}}</h5>
        <h6>Price : {{product.productprice | currency:'INR'}}</h6>
        <div>
          <button class="btn btn-outline-warning">ADD TO CART</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>

<app-footer></app-footer>