@media (max-width: 576px) {
  .card {
    margin-left: 60px;
  }
}


@media (min-width: 576px) and (min-width: 677px) {
  .card {
    width: 50%;
  }
}


@media (min-width: 768px) {
  .card {
    width: 33.33%;
  }
}

.image-products {
  height: 300px;
  object-fit: cover;
}

.cards img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cards img {
  transition: transform 1s;
}