<div class="container-fluid">
  <div class="row flex-nowrap">
    <div [class.collapsed]="isSideBarCollapsed" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <!-- <button class="btn btn-primary d-md-block d-lg-none" (click)="toggleSideBar()">
            <i class="fs-4 bi-list"></i>
          </button> -->
          <button class="btn btn-danger" (click)="toggleSideBar()">
            <i class="fs-4 bi-list"></i>
          </button>
          <span class="fs-5 d-none d-sm-inline"></span>
        </a>
        <ul *ngIf="!isSideBarCollapsed" [ngClass]="{'expanded': !isSideBarCollapsed, 'collapsed': isSideBarCollapsed}"
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

          <li>
            <a routerLink="/adminhome" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>

          </li>
          <li>
            <a routerLink="/adminusers" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Users</span></a>
          </li>
          <li>
            <a routerLink="/adminproducts" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Products</span></a>
          </li>
          <li>
            <a routerLink="/addproducts" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Add Product</span> </a>
          </li>
          <li>
            <a routerLink="/adminlogin" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Sign Out</span> </a>
          </li>
        </ul>
        <ul *ngIf="isSideBarCollapsed"
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
          <li class="mt-5">
            <a routerLink="/adminhome"><img class="navicon" src="../../../assets/sidenav/dashboard1.png" alt=""></a>
          </li>
          <li class="mt-5">
            <a routerLink="/adminusers"><img class="navicon" src="../../../assets/sidenav/user1.png" alt=""></a>
          </li>
          <li class="mt-5">
            <a routerLink="/adminproducts"><img class="navicon" src="../../../assets/sidenav/productlist2.png"
                alt=""></a>
          </li>
          <li class="mt-5">
            <a routerLink="/addproducts"><img class=" navicon" src="../../../assets/sidenav/addproduct1.png" alt=""></a>
          </li>
          <li class="mt-5">
            <a routerLink="/adminlogin"><img class=" navicon" src="../../../assets/sidenav/sign.jpg" alt=""></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col py-3">


      <!-- Existing code above this line remains unchanged -->

      <div class="container-fluid mt-2 mb-5">
        <div class="products">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <table class="table">
                <thead>
                  <tr>
                    <th> Image</th>
                    <th> Name</th>
                    <th> Price</th>
                    <th> Description</th>
                    <th>Type</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of adminProducts">
                    <td><img class="image" [src]="product.productimage" class="card-img-top"></td>
                    <td>{{ product.productname }}</td>
                    <td>{{ product.productprice | currency:'INR' }}</td>
                    <td>{{ product.productdesc }}</td>
                    <td>{{ product.type }}</td>
                    <td>
                      <button [routerLink]="'/editproduct/'+(product.productid)" class="btn btn-primary">Edit</button>
                      <br><br>
                      <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <!-- Existing code below this line remains unchanged -->


    </div>
  </div>
</div>