<div class="container-fluid">
  <div class="row flex-nowrap">
    <div [class.collapsed]="isSideBarCollapsed" class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <!-- <button class="btn btn-primary d-md-block d-lg-none button" (click)="toggleSideBar()">
            <i class="fs-4 bi-list"></i>
          </button> -->
          <button class="btn btn-danger" (click)="toggleSideBar()">
            <i class="fs-4 bi-list"></i>
          </button>
          <span class="fs-5 d-none d-sm-inline"></span>

        </a>
        <ul *ngIf="!isSideBarCollapsed" [ngClass]="{'expanded': !isSideBarCollapsed, 'collapsed': isSideBarCollapsed}"
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

          <li>
            <a routerLink="/adminhome" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>

          </li>
          <li>
            <a routerLink="/adminusers" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Users</span></a>
          </li>
          <li>
            <a routerLink="/adminproducts" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Products</span></a>

          </li>
          <li>
            <a routerLink="/adminproducts" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Add Product</span> </a>
          </li>
          <!-- <li>
            <a class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
          </li> -->
        </ul>
        <ul *ngIf="isSideBarCollapsed"></ul>
        <hr>
        <div class="dropdown pb-4">
          <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img width="30" height="30" class="rounded-circle">
            <span class="d-none d-sm-inline mx-1">ADMIN</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" routerLink="/userlogin">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3">

      <div class="d-flex justify-content-center align-items-center" style="margin-top: 250px ;">
        <h1>Welcome</h1>
      </div>
    </div>
  </div>
</div>